body{
    color:rgb(224, 165, 0);
    background-color:rgb(18, 0, 34);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
table{
    border: 50 px;
    
}
a{
    color: rgb(224, 165, 0);
}
table td, table th{
    border: 1px solid rgb(224, 165, 0) ;
    padding: 5 px;
    padding-left: 15 px;
    padding-right: 15 px;
}
.photo{
    border: 10px solid darkslategrey;
    width: 600px;
}
.center{
   margin-left: auto;
   margin-right: auto;
}
